/* This file is important! */
body{
font-family: 'Karla',sans-serif;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

button{
    font-family: 'Karla',sans-serif;
    border: none;
    background-color: #0B63DC;
    color: white;
    padding: 14px 20px;
    margin:8px 0;
    cursor: pointer;
    width: 100%;
}
button:hover{
opacity: 0.8;
}
